.advantages {
  background-color: #ffffff;

  outline: darkolivegreen solid 3px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  color: #000000;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
