.catalog-list {
  margin: 0;
  padding: 0;

  color: #000000;
  line-height: 24px;

  background-color: #ffffff;

  list-style: none;
}

.catalog-list__item {
  margin-bottom: 30px;
  outline: green solid 3px;
}

.catalog-list__item-title-link {
  color: #000000;
  font-weight: 700;
  font-size: 17px;

  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog-list__item-details {
  color: #444444;
  font-size: 13px;
  line-height: 30px;
}

.catalog-list__item-price {
  color: #000000;
  font-weight: 700;
  font-size: 15px;
}
