.catalog-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;

  color: #000000;
  line-height: 24px;

  background-color: #ffffff;

  list-style: none;
}

.catalog-list__item {
  width: 260px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog-list__item-image-link {
  display: block;
  width: 260px;
  height: 195px;
}

.catalog-list__item-title {
  margin: 0;
  margin-bottom: 5px;
}

.catalog-list__item-title-link {
  color: #000000;
  font-weight: 700;
  font-size: 17px;

  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog-list__item-details {
  margin: 0;
  color: #444444;
  font-size: 13px;
  line-height: 30px;
}

.catalog-list__details-wrapper {
  margin-bottom: 20px;
}

.catalog-list__item-price {
  margin: 0;
  color: #000000;
  font-weight: 700;
  font-size: 15px;
}

.catalog-list__layout-wrapper {
  display: flex;
  flex-direction: column;

  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;

  border: 1px solid #ececec;

  &:hover,
  &:focus-within {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog-list__price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  border-top: 1px solid #ececec;
}

.catalog-list__button {
  width: 20px;
  height: 19px;

  background-color: transparent;
  border: none;
  opacity: 0.2;

  &:hover {
    opacity: 1;
  }

  &:hover .catalog-list__button-icon {
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .catalog-list__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 54px;
  }

  .catalog-list__item-image,
  .catalog-list__item-image-link {
    width: 334px;
    height: 334px;
  }

  .catalog-list__item-title {
    &--toys {
      width: 220px;
    }
  }

  .catalog-list__item-title-link {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-list__item-details {
    font-size: 15px;
    line-height: 30px;
  }

  .catalog-list__item-price {
    margin-top: 5px;
    margin-left: 3px;
    font-size: 17px;
  }

  .catalog-list__price-wrapper {
    height: 62px;
  }

  .catalog-list__layout-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    padding-left: 27px;
  }

  .catalog-list__button {
    margin-right: 5px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog-list__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 316px;
    height: 660px;
    margin-bottom: 0;
  }

  .catalog-list__item-image,
  .catalog-list__item-image-link {
    width: 316px;
    height: 462px;
  }

  .catalog-list__item-price {
    margin-left: 0;
  }

  .catalog-list__details-wrapper {
    margin: 0;
  }

  .catalog-list__toys-text {
    display: none;
  }

  .catalog-list__item-details--toys {
    &::before {
      content: "Диаметр 30 см, высота 30 см";
    }
  }

  .catalog-list__layout-wrapper {
    flex-grow: 1;
    width: 316px;
    display: inherit;
    box-sizing: border-box;
  }
}
