.developer-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 75px;

  background-color: #f1f1f1;
}

.developer-info__text-link {
  margin: 0;
  margin-right: 30px;

  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;

  &:hover ~ .developer-info__logo-link {
    fill: #46c1ae;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &:active ~ .developer-info__logo-link {
    opacity: 0.3;
  }
}

.developer-info__logo-image {
  margin-top: 7px;
  fill: #63d1bb;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}
