.page-main {
  outline: tomato solid 3px;
}

.page-main__heading {
  padding-top: 76px;
  padding-right: 43px;
  padding-bottom: 74px;
  padding-left: 42px;

  &--index {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
  }
}

.page-main__catalog {
  padding: 30px;
}
