.page-footer {
  height: 160px;

  background-color: #f1f1f1;
}

.page-footer__container {
  height: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

.page-footer__logo-wrapper {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer {
    height: 143px;
  }

  .page-footer__logo-wrapper {
    display: inherit;
    width: 102px;
    height: 34px;
    margin-top: -5px;
  }

  .page-footer__logo {
    display: block;
    height: 100%;

    &:hover .page-footer__logo-image {
      fill: #46c1ae;
    }

    &:active .page-footer__logo-image {
      opacity: 0.3;
    }
  }
}
