.page-footer {
  height: 160px;
  outline: magenta solid 3px;

  background-color: #f1f1f1;
}

.page-footer__container {
  height: 100%;
}

.page-footer__logo-wrapper {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer {
    height: 143px;
  }

  .page-footer__logo-wrapper {
    display: block;
  }
}
