.site-list {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  background-color: #ffffff;

  list-style: none;
}

.site-list__item {
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 76px;
}

.site-list__item-link {
  color: #000000;
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
