.site-list {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  background-color: #ffffff;

  list-style: none;
}

.site-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 79px;
  padding-left: 76px;
}

.site-list__item-link {
  color: #000000;
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &--cart {
    position: relative;

    &:hover .site-list__cart-icon path {
      fill: #63d1bb;
      opacity: 1;
    }

    &:active .site-list__cart-icon path {
      fill: #63d1bb;
      opacity: 0.3;
    }
  }

  &--search {
    position: relative;

    &:hover .site-list__search-icon path {
      fill: #63d1bb;
      opacity: 1;
    }

    &:active .site-list__search-icon path {
      fill: #63d1bb;
      opacity: 0.3;
    }
  }
}

.site-list__cart-icon,
.site-list__search-icon {
  position: absolute;
  left: -42px;
  top: 3px;
}

.site-list__cart-icon path,
.site-list__search-icon path {
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
  }

  .site-list__item {
    height: 88px;
    padding-left: 0;

    &--search {
      justify-content: center;
      width: 82px;
      border-right: 1px solid #ededed;
      border-left: 1px solid #ededed;
    }

    &--cart {
      justify-content: flex-end;
      width: 264px;
    }

    &--catalog,
    &--made-to-order {
      display: none;
    }
  }

  .site-list__item-link {
    &--search {
      width: 18px;
      height: 18px;
    }
  }

  .site-list__search-icon {
    position: static;
  }

  .site-list__cart-icon {
    left: -50px;
  }

  .site-list__search-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    &--catalog {
      display: inherit;
      width: 184px;

      border-right: 1px solid #ededed;
    }

    &--made-to-order {
      display: inherit;
      width: 482px;

      padding-left: 32px;
    }

    &--cart {
      width: 264px;
    }

    &--search {
      width: 83px;
      font-size: 0;
    }
  }
}
