.site-list {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  background-color: #ffffff;

  list-style: none;
}

.site-list__item {
  height: 79px;
  padding-left: 76px;

  line-height: 79px;
}

.site-list__item-link {
  color: #000000;
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
  }

  .site-list__item {
    height: 88px;
    padding-left: 0;

    line-height: 88px;

    &--catalog,
    &--made-to-order {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    &--catalog {
      display: block;
      width: 184px;
    }

    &--made-to-order {
      display: block;
      width: 516px;
    }

    &--cart {
      width: 276px;
    }

    &--search {
      width: 72px;
      font-size: 0;
    }
  }
}
