.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;

  background-color: #f1f1f1;
  border-bottom: 1px solid #e6e6e6;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 28px;

  margin: 0;
  margin-top: 12px;
  padding: 0;
  list-style: none;
}

.social__item {
  height: 28px;
  display: flex;
  align-items: center;
}

.social__link {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 0;

  &--instagram {
    margin-left: 14px;
  }

  &--facebook {
    margin-top: -2px;
    margin-right: 18px;
    margin-left: 22px;
  }
}

.social__facebook-logo,
.social__instagram-logo,
.social__twitter-logo {
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__link {
    &--instagram {
      margin-left: 20px;
    }
  }

  .social {
    margin-top: 5px;
    margin-left: 75px;

    border-bottom: none;
  }
}
