.sub-nav {
  display: none;

  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 15px;
  line-height: 24px;

  list-style: none;
}

.sub-nav__item-link {
  color: #000000;
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .sub-nav {
    display: flex;
    flex-direction: row;
  }

  .sub-nav__item {
    margin-right: 60px;

    &--new,
    &--sale {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .sub-nav {
    display: flex;
    flex-direction: row;
  }

  .sub-nav__item {
    margin-right: 60px;

    &--catalog,
    &--made-to-order {
      display: none;
    }

    &--new,
    &--sale {
      display: block;
    }
  }
}
