.summary {
  height: 489px;

  background-color: #f9f9f9;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }

  &--catalog,
  &--custom-order {
    height: 177px;
    background-image: none;
    background-color: #f1f1f1;
  }
}

.summary__heading {
  align-self: center;
  width: 250px;
  margin: 0;
  margin-top: 70px;

  color: #010000;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.06em;

  &--catalog {
    margin: 0;
    margin-top: -5px;
  }

  &--custom-order {
    letter-spacing: 0.05em;
  }
}

.summary__container {
  height: 100%;
  display: flex;
  flex-direction: column;

  &--catalog {
    justify-content: center;
    background-image: none;
  }
}

.summary__delivery-note {
  display: none;
  margin: 0;

  color: #444444;
  font-size: 15px;
  line-height: 24px;
}

.summary__sub-nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .summary__heading {
    width: 550px;
    margin-top: 110px;

    letter-spacing: normal;

    &--catalog {
      margin-top: 0;
      margin-bottom: auto;
    }

    &--custom-order {
      margin-top: 52px;
    }
  }

  .summary__sub-nav-wrapper {
    padding-top: 20px;

    &--catalog {
      padding-top: 17px;
      margin-bottom: 55px;
    }

    &--custom-order {
      padding-top: 16px;
    }
  }

  .summary {
    position: relative;
    height: 746px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center 0;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }

    &--catalog {
      height: 226px;
      background-image: none;
    }

    &::after {
      content: "";
      position: absolute;
      height: 24px;
      width: 100%;
      bottom: -12px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
    }

    &--custom-order {
      height: 226px;
      background-image: none;
    }
  }

  .summary__delivery-note {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .summary {
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }

    &--catalog {
      height: 255px;
      background-image: none;
    }

    &--custom-order {
      height: 255px;
      background-image: none;
    }

    &::after {
      height: 36px;
      bottom: -18px;
    }
  }

  .summary__heading {
    width: 620px;
    margin-top: 110px;
    font-size: 53px;
    line-height: 57px;

    &--catalog {
      margin-top: 0;
    }

    &--custom-order {
      margin-top: 55px;
    }
  }
}
